<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.new_password.title}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.new_password.greeting(${user.nama})}"/>

        <p th:text="#{ email.new_password.text1}"/>

        <p th:text="#{email.new_password.password(${new_password})}"/>

        <p>
            <span th:text="#{email.new_password.text2}"/>
            <br/>
            <em th:text="#{email.signature}"/>
        </p>
    </body>
</html>
