
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en" class="body-full-height">
<head>
    <title>Master Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
</head>
<body>

<div class="login-container">
    <div class="login-box animated fadeInDown">
        <!--<div class="login-logo"></div>-->
        <div class="login-body">
            <h1 th:text="#{error.title}" class="login-title">Your request cannot be processed <span>:(</span></h1>
		    <p th:text="#{error.subtitle}" class="help-block error-text">Sorry, an error has occurred.</p>
		    <span th:text="#{error.status}" class="help-block error-text">Status:</span>&nbsp;<span th:text="${error}" class="help-block error-text"></span><br/>
		    <span th:if="${!#strings.isEmpty(message)}" class="help-block error-text">
		        <span th:text="#{error.message}" class="help-block error-text">Message:</span>&nbsp;<span th:text="${message}"></span><br/>
		    </span>
        </div>
        <div class="pull-right">
            <a href="/index">Back To Main Menu</a>
        </div>
    </div>

</div>

</body>
</html>